SEMANA 03
Baldeon Figueroa Jhon Percy

# Temas: 
1. Números
2. Variables 
3. Manejo de cadenas 
4. Ingreso de datos por el teclado 
5. Operadores

# 5. Operadores

In [1]:
#Operadores Aritmeticos
# Se tiene: +, -, *, /, **,%, //

In [2]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
print(suma)

13

In [3]:
resta = numero1 - numero2
print(resta)

7

In [4]:
multi = numero1 * numero2
print(multi)

30

In [5]:
div = numero1 / numero2
print(div)

3.3333333333333335

In [6]:
residuo = numero1 % numero2
print(residuo)

1

In [7]:
cociente = numero1 // numero2
print(cociente)

3

In [9]:
potencia = numero1 ** numero2
print(potencia)

1000

In [10]:
#operadores de asignación 
numero = 5
numero = numero + 3
print(numero)

8

In [11]:
numero = 5
numero += 3
print(numero)

8

In [12]:
numero = 5
numero = numero ** 3
print(numero)

125

In [13]:
numero = 5
numero **= 3
print(numero)

125

In [14]:
#Operadores de Comparación
# ==, !=, <, >, <=, >=

In [15]:
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [16]:
# con las cadenas funciona igual
nombre1 ="Juan"
nombre2 ="Juan"
nombre1 == nombre2

True

In [17]:
#Operadores Lógicos
#Se tiene and, or, not
numero1= 5
numero2= 6
numero3 = 7
numero4 = 8

In [18]:
numero1 < numero2

True

In [19]:
not(numero1<numero2)

False

In [21]:
numero1<numero2 and numero3<numero4

True

In [22]:
(numero1<numero2 and numero3 < numero4) or (numero3>numero4)

True

In [23]:
#Operadores de pertenencia
# in, not, not in

In [24]:
aula=["Juan","Daniel","Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [26]:
alumno1 in aula

False

In [27]:
alumno2 in aula

True

In [28]:
alumno1 not in aula

True

In [29]:
alumno2 not in aula

False

In [30]:
#Operadores de identidad
# is , is not

In [31]:
aula1=["Juan","Daniel","Ruben"]
aula2=["Juan","Daniel","Ruben"]
#Indicaremos que aula3 compartira el mismo objeto que aula1
aula3 = aula1

In [32]:
aula3 is aula1

True

In [33]:
aula3 is aula2

False

In [34]:
aula2 is aula1

False

In [ ]:
aula1