# Semana 03
Baldeon Figueroa Jhon

# Temas: 1. Números 
    2. Variables 
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado 
    5. Operadores

3. Manejo de cadenas

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [2]:
#Universidad Nacional Tecnológica de Lima Sur
#01234....................................-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
#considera los espacios en blanco
cadena[11]

' '

In [6]:
#Muestrame la posición -5
cadena[-5]

'a'

In [7]:
cadena[21]

'T'

In [8]:
cadena[-23]

'T'

In [9]:
cadena[3:8]

'versi'

In [10]:
#Para saber le tamaño de la cadena, utilizamos len()
#incluye los espacios en  blanco

In [11]:
len(cadena)

44

In [12]:
#Para mostrar una cadena en mayuscula
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [13]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [14]:
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [15]:
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [16]:
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [17]:
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [18]:
cadena.split("O")

['UNIVERSIDAD NACI', 'NAL TECN', 'LÓGICA DE LIMA SUR']

In [20]:
#forma clásica para concatenar con +
nombre = "Jhon Baldeon"
print("Buenas tardes " + nombre)

Buenas tardes Jhon Baldeon

In [21]:
#utilizamos el format()
nombre = "Carlos Aquino"
edad = 22
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Carlos Aquino ya se que tienes 22 años

In [23]:
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [24]:
#Dar formato con f
#La funcion f, esta disponible a partir de la versión 3.6

In [26]:
nombre = "Jhon Baldeon"
edad = 23
print(f"Buenos Días {nombre}, ya sé que tienes {edad} años")

Buenos Días Jhon Baldeon, ya sé que tienes 23 años

In [28]:
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333