# Semana 03
Baldeon Figueroa Jhon Percy

In [1]:
Temas: 1. Números 
    2. Variables 
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado 
    5. Operadores

SyntaxError: invalid syntax (4283752842.py, line 1)

Temas: 1. Números 
    2. Variables 
    3. Manejo de cadenas 
    4. Ingreso de datos por el teclado 
    5. Operadores

2. variables

In [2]:
#siempre deben iniciar con una letra o un guión bajo. Ojo nunca con un número o un simbolo

In [3]:
edad = 41
edad

41

In [4]:
nombre = "Jhon"
nombre

'Jhon'

In [5]:
apellido = "Baldeon Figueroa"
apellido

'Baldeon Figueroa'

In [6]:
nombreCompleto= nombre + apellido
nombreCompleto

'JhonBaldeon Figueroa'

In [7]:
nombreCompleto = nombre + " " + apellido
nombreCompleto

'Jhon Baldeon Figueroa'

In [8]:
# Para saber el tipo de variable utilizamos la función type()
# Ejemplo:
numero = 50
type(numero)

int

In [9]:
type(nombre)

str

In [10]:
talla = 1.68
talla

1.68

In [11]:
type(talla)

float

In [12]:
#para convertir un numero en cadena
numero = 100
cadena = str(numero)

In [13]:
cadena

'100'

In [14]:
type(cadena)

str

In [15]:
#para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [16]:
type(numero2)

int

In [17]:
#Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [18]:
type(numero2)

float